footer
	.top-footer
		.container
			.row
				.col-lg-4.col-sm-auto.desktop
					.logo
						a(href="#")
							img.lazyload(data-src='./assets/logo.png', alt='')
				.col-lg-8.col-12
					.search
						form
							input(type="text")
							button Subscribe
				.col-lg-4.col-sm-6
					.footer-nav
						h3 Thông tin
						nav
							a(href="#") Hướng dẫn mua hàng
							a(href="tintuc.html") Tin tức
							a(href="sukien.html") Sự kiện
							a(href="lienhe.html") Liên hệ
				.col-lg-4.col-sm-6
					.footer-nav
						h3 Liên hệ
						.content
							p Địa chỉ : 29A Nguyễn Thái Học, Phường 1, Quận Bình Thạnh, Tp. HCM.
							p Hotline: 0972 682 724 - 0969 068 388
							p Facebook: https://www.facebook.com/Hana-Clouds-875225812650349/
							p Email: hanaworld.vn@gmail.com
				.col-lg
				.col-lg-3
					.footer-nav
						h3 DỊCH VỤ CSKH
						.content
							p Hãy đễn với hanaworld.vn bạn sẽ được tư vấn và mua hàng một cách tốt nhất.
						.footer-social
							a(href="#")
								img.lazyload(data-src='./assets/icons/icon_pinterest.png', alt='')
							a(href="#")
								img.lazyload(data-src='./assets/icons/icon_facebook.png', alt='')
							a(href="#")
								img.lazyload(data-src='./assets/icons/icon_twitter.png', alt='')
							a(href="#")
								img.lazyload(data-src='./assets/icons/icon_mail.png', alt='')
	.copyright
		p © 2019 Hanaworld. All rights reserved. Designed by 
			a(href="http://web4gsolutions.com/") Web4G