.contact
	.row.no-gutters
		.map
			#map(style="height: 100%")
			//- iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1500271201103!2d106.6959283152604!3d10.799819261713555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c8740a82f3%3A0x5a7afb81a93f8989!2zMjlBIE5ndXnhu4VuIFRow6FpIEjhu41jLCBQaMaw4budbmcgMSwgQsOsbmggVGjhuqFuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1571289278301!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='')
		.info#contact-info
			.info-title
				h2 Liên hệ
			.info-description
				p 
					i Cảm ơn bạn đã ghé thăm website 
						a(href='https://hanaworld.vn') hanaworld.vn.
					i Bạn có thể liên hệ với chúng tôi theo một trong những cách sau:
			.info-address
			.info-hotline
				h2 Hotline
			.info-email
			.info-social
.contact
	.container
		.contact-form
			h2 Form liên hệ
			form.row
				.form-group.col-md-6
					input(type='text' placeholder='Họ và tên')
					span.field-validation-error Error
				.form-group.col-md-6
					input(type='text' placeholder='Số điện thoại')
					span.field-validation-error Error
				.form-group.col-12
					input(type='text' placeholder='Email')
					span.field-validation-error Error
				.form-group.col-12
					textarea(type='text' placeholder='Nội dung')
					span.field-validation-error Error
				.form-button.col-auto
					button.btn.btn-apply Gửi