.contact
	.row.no-gutters
		.map
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1500271201103!2d106.6959283152604!3d10.799819261713555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c8740a82f3%3A0x5a7afb81a93f8989!2zMjlBIE5ndXnhu4VuIFRow6FpIEjhu41jLCBQaMaw4budbmcgMSwgQsOsbmggVGjhuqFuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1571289278301!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='')
		//- .info-toggle.mobile
		//- 	span.mdi.mdi-information-variant
		//- 	span Xem thông tin
		.info#contact-info
			.info-title
				h2 Liên hệ
			.info-description
				p 
					i Cảm ơn bạn đã ghé thăm website hanaworld.vn.
					i Bạn có thể liên hệ với chúng tôi theo một trong những cách sau:
			.info-address
				p CN1: 
					span 29A Nguyễn Thái Học, Phường 1, Quận Bình Thạnh, Tp. HCM.
				p CN2: 
					span 115 đường số 1, cư xá Đô Thành , Phường 4, Quận 3, Tp.HCM.
			.info-hotline
				h2 Hotline
				p 
					strong 0922 305 288
					strong 0986 948 883
			.info-email
				p Email: 
					a(href="mailto:hanaworld.vn@gmail.com") hanaworld.vn@gmail.com
			.info-social
				p Facebook: 
					a(href='https://www.facebook.com/Hana-Clouds-875225812650349/') https://www.facebook.com/Hana-Clouds-875225812650349/
.contact
	.container
		.contact-form
			h2 Form liên hệ
			form.row
				.form-group.col-md-6
					input(type='text' placeholder='Họ và tên')
					span.field-validation-error Error
				.form-group.col-md-6
					input(type='text' placeholder='Số điện thoại')
					span.field-validation-error Error
				.form-group.col-12
					input(type='text' placeholder='Email')
					span.field-validation-error Error
				.form-group.col-12
					textarea(type='text' placeholder='Nội dung')
					span.field-validation-error Error
				.form-button.col-auto
					button.btn.btn-apply Gửi