.product-item {
	display: block;
	position: relative;

	.imgbox {
		border: 1px solid transparent;
		transition: all .3s ease-in-out;
		overflow: hidden;

		img {
			width: 100%;
			transition: all .3s ease-out;
		}
	}

	.info {
		text-align: center;
		padding: 20px 5px;

		h3 {
			text-transform: uppercase;
			color: #221C21;
			margin-bottom: 8px;
			transition: all .3s ease-out;
		}

		.price-wrapper {
			display: flex;
			justify-content: center;
			font-size: 18px;
			color: #787878;

			.price,
			.old-price {
				font-weight: 300;
				margin: 0 35px;
			}

			@media (min-width: 1025px) {
				padding: 5px 0px;
			}

			@media (min-width: 1440px) {
				padding: 5px 25px;
			}

			@media (min-width: 1660px) {
				padding: 5px 45px;
			}
		}

		@media (max-width: 1439.98px) {
			padding: 10px 5px;
		}

		@media (max-width: 1199.98px) {
			.price-wrapper {
				font-size: 16px;

				.price,
				.old-price {
					margin: 0 25px;
				}
			}
		}

		@media (max-width: 767.98px) {
			.price-wrapper {
				font-size: 14px;

				.price,
				.old-price {
					margin: 0 15px;
				}
			}
		}
	}

	.promotion {
		position: absolute;
		top: 1px;
		left: 1px;
		background: #FCE4EC;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		width: 55px;
		color: #221C21;

		span,
		strong {
			display: block;
		}
	}

	&:hover {
		.imgbox {
			border: 1px solid darken(white, 12%);

			img {
				transform: scale(1.1);
			}
		}

		.info {
			h3 {
				color: map-get($mau, main);
			}
		}
	}
}


.home-product-item {
	position: relative;

	.img {
		background: white;
		overflow: hidden;

		img {
			width: 100%;
			transition: all .3s ease-out;
		}
	}

	.info {
		padding-top: 10px;
		font-size: 24px;

		.product-name {
			text-align: center;
			text-transform: uppercase;
			color: #787878;
		}

		.product-price {
			font-weight: 400;
			text-align: center;
		}

		.product-price-old {
			text-align: center;
			display: block;
			font-size: 22px;
			font-weight: 300;
		}

		@media (max-width: 1199.98px) {
			font-size: 19px;

			.product-price-old {
				font-size: 17px;
			}
		}

		@media (max-width: 767.98px) {
			font-size: 14px;

			.product-price-old {
				font-size: 12px;
			}
		}
	}

	.promotion {
		position: absolute;
		top: 1px;
		left: 1px;
		background: #FCE4EC;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		width: 55px;
		color: #221C21;

		span,
		strong {
			display: block;
		}
	}

	.button {
		margin-top: 10px;
		display: flex;
		justify-content: center;

		.btn-apply {
			height: 50px;
			border-radius: 3px;
			width: 100%;
			max-width: 180px;

			@media (max-width: 1199.98px) {
				height: 45px;
			}

			@media (max-width: 767.98px) {
				height: 40px;
				display: none;
			}
		}
	}

	&:hover {
		.img {
			img {
				transform: scale(1.1);
			}
		}
	}
}