.account-information
	.block-title
		h2.sub-title Thông tin tài khoản
	form.account-form-general.account-info
		.row
			.col-xl-7
				.form-group
					label Họ tên
					.form-input
						input(type="text", name="")
						span.error.mdi.mdi-alert-circle-outline Họ tên không hộp lệ
				.form-group
					label Điện thoại
					.form-input
						input(type="text", name="")
						span.error.mdi.mdi-alert-circle-outline Số điện thoại không hộp lệ
				.form-group
					label Email
					.form-input
						input(type="text", name="")
						span.error.mdi.mdi-alert-circle-outline Email không hộp lệ
				.form-group
					label Ngày sinh
					.form-input
						input(type="date", name="", value="2020-12-25")
						span.error.mdi.mdi-alert-circle-outline Ngày tháng không hợp lệ
				.form-group
					label Giới tính
					.form-radio
						.option
							input#male(type="radio" name="gender" checked)
							label(for="male") Nam
						.option
							input#female(type="radio" name="gender")
							label(for="female") Nữ
						span.error.mdi.mdi-alert-circle-outline Chưa chọn giới tính

			.col-xl-5
				h3.sub-title Liên kết tài khoản mạng xã hội
				.social-item
					.img
						img.lazyload(data-src="./img/icon/icon-facebook.svg", alt="")
						span Facebook
					.status
						a(href="#").added Đã liên kết
				.social-item
					.img
						img.lazyload(data-src="./img/icon/icon-google.svg", alt="")
						span Google
					.status
						a(href="#") Chưa liên kết
			.col-12
				.button-wrapper
					a(href="#").btn.btn-main Cập nhật