.account-change-password
	.block-title
		h3.sub-title Đổi mật khẩu
	form.account-change-password-form
		.form-group
			label Mật khẩu cũ
			.form-input
				input(type='password', name='')
				span.field-validation-error Họ tên không hộp lệ
		.form-group
			label Mật khẩu mới
			.form-input
				input(type='password', name='')
				span.field-validation-error Số điện thoại không hộp lệ
		.form-group
			label Xác nhận mật khẩu cũ
			.form-input
				input(type='password', name='')
				span.field-validation-error Email không hộp lệ
		.btn-wrapper
			button.btn.btn-apply Đổi mật khẩu