.account-sidemenu
	.account-info
		.img
			img.lazyload(src="", alt="")
		.info
			h3 Nguyễn Thị Ngọc Huyền
	ul.account-nav
		li.active
			a(href="thongtin.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="11.986" height="17.795" viewBox="0 0 11.986 17.795"><path d="M1029.924,758.655a3.849,3.849,0,0,0,.378-7.538c-.165-.042-.331-.078-.5-.117h-.893a1.085,1.085,0,0,1-.152.046,3.849,3.849,0,0,0,1.164,7.609Zm-.517-6.8a2.992,2.992,0,1,1-3.035,2.966A3,3,0,0,1,1029.407,751.852Z" transform="translate(-1023.365 -751)" fill="#000000"/><path d="M980.9,945.02a2.134,2.134,0,0,1,1.62-2.2,2.573,2.573,0,0,1,.6-.067q2.926-.007,5.853,0a2.11,2.11,0,0,1,2.179,2.117c.02,2.444.008,4.888.006,7.331h.857c0-2.436.006-4.872,0-7.309A2.976,2.976,0,0,0,989,941.9q-2.95-.007-5.9,0a2.956,2.956,0,0,0-3.053,2.969c-.026,2.443-.013,4.887-.008,7.33h.857Q980.9,948.611,980.9,945.02Z" transform="translate(-980.035 -934.407)" fill="#000000"/></svg>
				span Thông tin tài khoản
		li
			a(href="doimatkhau.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="12.872" height="16.748" viewBox="0 0 12.872 16.748"><path d="M649.491,488.9h-.279v-.742a4.977,4.977,0,0,0-9.955,0v.742h-.28a1.18,1.18,0,0,0-1.179,1.179v7.788a2.064,2.064,0,0,0,2.062,2.062h8.748a2.064,2.064,0,0,0,2.062-2.062V490.08A1.18,1.18,0,0,0,649.491,488.9Zm-9.234-.742a3.977,3.977,0,0,1,7.955,0v.742h-7.955Zm9.413,9.709a1.063,1.063,0,0,1-1.062,1.062H639.86a1.063,1.063,0,0,1-1.062-1.062V490.08a.179.179,0,0,1,.179-.179h10.514a.179.179,0,0,1,.179.179Z" transform="translate(-637.798 -483.182)" fill="#1c1c1c"/><path d="M644.234,492.384a2.031,2.031,0,1,0,2.032,2.031A2.034,2.034,0,0,0,644.234,492.384Zm0,3.063a1.031,1.031,0,1,1,1.032-1.032A1.033,1.033,0,0,1,644.234,495.447Z" transform="translate(-637.798 -483.182)" fill="#1c1c1c"/></svg>
				span Đổi mật khẩu
		li
			a(href="donhang.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="17.119" height="14.979" viewBox="0 0 17.119 14.979"><g transform="translate(-2 24.25)"><path d="M2.5-25.25a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5H5.109l1.811,8.112a1.5,1.5,0,0,0-.907,1.374,1.5,1.5,0,0,0,1.5,1.5h9.095a.5.5,0,0,0,.5-.5.5.5,0,0,0-.5-.5H7.517a.5.5,0,0,1-.5-.5.5.5,0,0,1,.5-.5h9.1a.5.5,0,0,0,.482-.362l2.006-6.99a.5.5,0,0,0-.082-.438.5.5,0,0,0-.4-.2H6.359L6-24.859a.5.5,0,0,0-.49-.391ZM15.608-13.267a1.5,1.5,0,0,0-1.5,1.5,1.5,1.5,0,0,0,1.5,1.5,1.5,1.5,0,0,0,1.5-1.5A1.5,1.5,0,0,0,15.608-13.267Zm-7.088,0a1.5,1.5,0,0,0-1.5,1.5,1.5,1.5,0,0,0,1.5,1.5,1.5,1.5,0,0,0,1.5-1.5A1.5,1.5,0,0,0,8.52-13.267ZM6.582-22.254H17.953l-1.72,5.992H7.919ZM8.52-12.268a.5.5,0,0,1,.5.5.5.5,0,0,1-.5.5.5.5,0,0,1-.5-.5A.5.5,0,0,1,8.52-12.268Zm7.088,0a.5.5,0,0,1,.5.5.5.5,0,0,1-.5.5.5.5,0,0,1-.5-.5A.5.5,0,0,1,15.608-12.268Z" transform="translate(0 1)" fill="#1c1c1c"/></g></svg>
				span Quản lý đơn hàng
		li
			a(href="quanlydiachi.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="14.499" height="15.498" viewBox="0 0 14.499 15.498"><path d="M10.082,6.058V8.074a.4.4,0,1,0,.791,0V6.058a.877.877,0,0,1,.87-.87h6.681a.877.877,0,0,1,.87.87V18.234a.877.877,0,0,1-.87.87H11.782a.877.877,0,0,1-.87-.87V16.218a.4.4,0,1,0-.791,0v2.016a1.67,1.67,0,0,0,1.66,1.66h6.681a1.67,1.67,0,0,0,1.66-1.66V6.058a1.67,1.67,0,0,0-1.66-1.66H11.782A1.631,1.631,0,0,0,10.082,6.058Zm-4.428,5.93a.433.433,0,0,0,0,.316c.04.04.04.079.079.119l2.688,2.688a.391.391,0,0,0,.553-.553L7,12.541h7.906a.4.4,0,1,0,0-.791H7L9.015,9.735a.382.382,0,0,0,0-.553.382.382,0,0,0-.553,0L5.773,11.869C5.694,11.909,5.694,11.948,5.655,11.988Z" transform="translate(-5.625 -4.396)" fill="#1c1c1c"/></svg>
				span Đăng xuất