section.index.index-2
	h2.home-title.center Collection
	p.home-title-description.center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
	.swiper-container
		.swiper-prev
			<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,11.03,13.59,0,27.772,11.03" transform="translate(2.554 30.579) rotate(-90)" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4"/></svg>
		.swiper-next
			<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,0,13.59,11.03,27.772,0" transform="translate(2.813 30.579) rotate(-90)" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4"/></svg>
		.swiper-wrapper
			.swiper-slide
				.row.no-gutters
					.col-lg-7.col-content
						.row.no-gutters.row-image
							.col
								img.lazyload(data-src='./img/collection/c_1.jpg', alt='')
							.col
								img.lazyload(data-src='./img/collection/c_2.jpg', alt='')
						.row.no-gutters.row-content
							.col-12
								.content
									h2.home-title 3ce velvet lip
									h5 GOING RIGHT – CAM HỒNG ĐẤT
									p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập...
									a.btn.btn-buy(href="#") Book now
					.col-lg-5.slide-img
						img(src='./img/collection/c_3.jpg', alt='')
			.swiper-slide
				.row.no-gutters
					.col-lg-7.col-content
						.row.no-gutters.row-image
							.col
								img.lazyload(data-src='./img/collection/c_1.jpg', alt='')
							.col
								img.lazyload(data-src='./img/collection/c_2.jpg', alt='')
						.row.no-gutters.row-content
							.col-12
								.content
									h2.home-title 3ce velvet lip
									h5 GOING RIGHT – CAM HỒNG ĐẤT
									p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập...
									a.btn.btn-buy(href="#") Book now
					.col-lg-5.slide-img
						img(src='./img/collection/c_3.jpg', alt='')
			.swiper-slide
				.row.no-gutters
					.col-lg-7.col-content
						.row.no-gutters.row-image
							.col
								img.lazyload(data-src='./img/collection/c_1.jpg', alt='')
							.col
								img.lazyload(data-src='./img/collection/c_2.jpg', alt='')
						.row.no-gutters.row-content
							.col-12
								.content
									h2.home-title 3ce velvet lip
									h5 GOING RIGHT – CAM HỒNG ĐẤT
									p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập...
									a.btn.btn-buy(href="#") Book now
					.col-lg-5.slide-img
						img(src='./img/collection/c_3.jpg', alt='')