.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.img
					img(src="./img/banner/b_1.jpg", alt="")
				.content
					.container
						.text
							h2 3CE VELVET LIP
							p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập. 
			.swiper-slide
				.img
					img(src="./img/banner/b_1.jpg", alt="")
				.content
					.container
						.text
							h2 3CE VELVET LIP
							p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập. 
			.swiper-slide
				.img
					img(src="./img/banner/b_1.jpg", alt="")
				.content
					.container
						.text
							h2 3CE VELVET LIP
							p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập. 
			.swiper-slide
				.img
					img(src="./img/banner/b_1.jpg", alt="")
				.content
					.container
						.text
							h2 3CE VELVET LIP
							p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập. 
			.swiper-slide
				.img
					img(src="./img/banner/b_1.jpg", alt="")
				.content
					.container
						.text
							h2 3CE VELVET LIP
							p Màu cam hồng đất, được đánh giá là tone màu son “nhất định phải có” trong bảng màu son lần này của bộ sưu tập. 