.news-banner
	.row
		.col-lg-6
			h1 SỰ KIỆN
			h2 Mách bạn những sản phẩm hội tụ nhiều công năng mà giá chỉ vài trăm ngàn, cực hợp với nàng lười skin care
			p Mách bạn những sản phẩm hội tụ nhiều công năng mà giá chỉ vài trăm ngàn, cực hợp với nàng lười skin care
		.col-lg-6
			.imgbox
				img.lazyload(data-src='./assets/banner/b_4.jpg', alt='')