mixin news(img)
	a.news-item(href="tintuc-ct.html")
		.imgbox
			img.lazyload(data-src='./assets/news/n_'+img+'.jpg', alt='')
		.info
			h3 HAPPY HANA 3RD ANNIVERSARY
			time 10.08.2019
mixin event(img)
	a.news-item(href="sukien-ct.html")
		.imgbox
			img.lazyload(data-src='./assets/news/n_'+img+'.jpg', alt='')
		.info
			h3 Những ngày quá bận hay lười skin care, bạn có thể chuyển sang 4 loại mỹ phẩm tích hợp mọi công năng mà vẫn dưỡng da nhanh gọn
			time 10.08.2019