.product.pt-40
	.container
		.detail
			.row
				.product-detail-slider
					.big-image
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								//- 	.swiper-lazy-preloader
								//- .swiper-slide
								//- 	img.ofc(src="./assets/product/p_1.png", alt="")
					.small-image
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								.swiper-slide
									img.ofc(src="./assets/product/p_1.png", alt="")
								//- .swiper-slide
								//- 	img.ofc(src="./assets/product/p_1.png", alt="")
				.col-lg.product-detail-info
					h1 3CE RED RECIPE #214 SQUEEZING
					hr
					p.price
						strong 300.000 VNĐ
					p.price-old
						del 300.000 VNĐ
					.quantity
						span Số lượng: 
						.quantity-input
							input(type='button' value='-')
							input#quantity(type='text' value='0' placeholder="0")
							input(type='button' value='+')
					.btn-wrapper
						input.btn.btn-apply(type='button' value='Cho vào giỏ')
		.detail
			.product-detail-description
				h2 Mô tả sản phẩm
				hr
				.content
					h3 * SON 3CE RED RECIPE 213 FIG - ĐỎ HỒNG LÌ
					p 3CE Red Recipe #213 Fig thực sự sở hữu tông màu lạ, thuộc kết cấu satin thiên son lì kết hợp với chất son mướt mượt, bổ sung dưỡng môi nên đánh giá chung là khá ấn tượng.
					p 3CE Red Recipe mang thiết kế của thỏi son vuông truyền thống với lớp vỏ đỏ bắt mắt, thể hiện màu sắc trùng khớp với màu son bên trong giúo bạn dễ dàng lựa chọn. Vỏ son được làm bằng chất liệu nhựa lì, nắp đậy chắc chắn và cầm rất vừa tay. Son không có mùi quá đặc biệt. Bảng màu son 3CE Red Recipe có tổng cộng 5 màu son đỏ, trong đó bao gồm 2 màu mang chất son satin - bóng nhẹ (#211, #212), và 3 màu mang chất matte - lì (#213, #214 và #215). Nhờ chất son có dưỡng nhẹ nên màu 211 và 212 có độ bám màu từ 5-6 tiếng, 3 màu còn lại là 6-7 tiếng.
					p 3CE Red Recipe có bảng màu gồm 5 tông đỏ siêu rực rỡ đầy quyền lực, khá sống động và quyến rũ nhưng không kém cá tính, màu sắc bắt mắt thích hợp với nhiều tông da Châu Á. Tuy 5 em đều khoác lên mình 1 màu đỏ rực, nổi bần bật nhưng mỗi màu son lại mang đến cho bạn một sắc đỏ khác biệt, một nét quyến rũ riêng: 
					ul
						li 1. #211 Dolly - chất satin, có màu đỏ pha một ít sắc cam, tạo hiệu ứng đôi môi căng mọng, quyến rũ “cực”. Hợp với những cô nàng sở hữu nước da ngăm.
						li 2. #212 Moon - chất satin, có màu đỏ thuần - đỏ chân chính đầy mê hoặc và sexy.
						li 3. #213 Fig - chất matte, có màu đỏ pha một ít sắc hồng và nâu. Khi son lên môi lướt nhẹ nhàng, rất dễ đánh, chất son rất nhẹ và mềm môi, khồng hề lộ vân môi.
						li 4. #214 Squeezing - chất matte, có màu đỏ tươi, đây là một màu son rất đặc biệt được pha trộn thêm sắc cam, hồng. Sắc son tươi, chất son lì, khả năng lên màu và độ bám màu của son cực tốt.
						li 5. #215 Ruby Tuesday - chất matte, có màu đỏ trầm nhất trong 5 màu. Tone màu này không những làm tôn da lên rất nhiều, mà còn giúp hàm răng của bạn trở nên trắng sáng hơn đấy nhé.
					h3 * HƯỚNG DẪN SỬ DỤNG
					p Với đầu son dạng vát cộng thêm chất son vô cùng mướt mịn, các nàng có thể thoải mái dùng son 3CE Red Recipe để kẻ viền và tán màu đều môi từ ombre đến full môi mà không cần dùng cọ. Nhưng để có được một đôi môi đẹp căng mướt, các nàng đừng quên ba bước cơ bản này trước khi thoa son nha, đó chính là: tẩy da chết môi – son dưỡng – tán lớp mỏng kem che khuyết điểm.
					ul
						li - Trước khi tô son nên tẩy da chết cho môi, với môi khô cần thoa son dưỡng trước khi sử dụng.

						li - Có thể tô lòng môi hoặc full môi theo sở thích.

					p Lưu ý khi bảo quản và sử dụng
					ul

						li - Tránh xa tầm tay trẻ em.

						li - Tránh bôi vào vùng da bị thương.

						li - Tránh ánh nắng mặt trời chiếu trực tiếp.