.filter-close-btn.mobile
	span.mdi.mdi-close
.product-filter
	h2.product-side-title Mức giá
	.price-slider-wrapper
		input#amount(readonly hidden type='text')
		#price-slider(data-default='[45000,8670000]' data-max='10000000' data-min="0")
		.price-wrapper
			.price#price-min
			.price#price-max
	hr
	h2.product-side-title Dòng sản phẩm
	nav.product-model
		a(href="#") Hair Care
		a(href="#") Dưỡng Face
		a(href="#") Make Up
		a.active(href="#") Face
		a(href="#") Lipstick
		a(href="#") Dưỡng Body
		a(href="#") Sản Phẩm Khác
.product-filter-button
	input.btn.btn-apply(type='button' value="Lọc sản phẩm")