.filter-close-btn.mobile
	span.mdi.mdi-close
.product-filter
	h2.product-side-title Mức giá
	.price-slider-wrapper
		#price-slider(data-default='8670000' data-max='10000000')
		#price-max
	hr
	h2.product-side-title Dòng sản phẩm
	nav.product-model
		a(href="#") Hair Care
		a(href="#") Dưỡng Face
		a(href="#") Make Up
		a.active(href="#") Face
		a(href="#") Lipstick
		a(href="#") Dưỡng Body
		a(href="#") Sản Phẩm Khác