header {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	transition: all .3s ease-out;

	.logo {
		flex: 0 0 92px;
		max-width: 92px;
		margin-right: 100px;

		img {
			width: 92px;
			transition: all .3s ease-out;
		}
	}

	.header-navs {
		font-family: $pf;
		display: flex;
		align-items: center;

		.nav-item {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 24px;
			color: map-get($mau, den);

			+.nav-item {
				margin-left: 100px;
			}
		}
	}

	.header-icons {
		display: flex;
		margin-left: auto;
		align-items: center;

		.icon {
			margin-left: 50px;
			cursor: pointer;
		}
	}


	&.active {
		background: white;
		box-shadow: 0px 3px 3px rgba(#fecfd7, .3);
		padding: 5px 0;

		.logo {
			img {
				width: 65px;
			}
		}
	}
}