.sale.pd-40
	.container
		.sale-masonry
			#sale-masonry
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-1.jpg", alt="")
					.title
						h3 Lipstick
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-2.jpg", alt="")
					.title
						h3 Face
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-3.jpg", alt="")
					.title
						h3 Hair Care
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-4.jpg", alt="")
					.title
						h3 Make up
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-5.jpg", alt="")
					.title
						h3 Dưỡng Body
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-6.jpg", alt="")
					.title
						h3 Dưỡng Face
				a.grid-item(href="#")
					.img
						img(src="./assets/sale/s-7.jpg", alt="")
					.title
						h3 Sản phẩm khác