extends _components/_layout/_layout.pug

block var
	- var title = 'Quản lý đơn hàng'
	- var bodyClass = 'order-manage-page'

block bannerBreadcrumb
	include _components/_global/_breadcrumb
block main
	.account
		.container
			.row
				.col-lg-auto
					include _components/account/sidemenu
				.col-lg
					include _components/account/order
