extends _components/_layout/_layout.pug

block var
	- var title = 'Trang chủ'
	- var bodyClass = 'index-page'

block bannerBreadcrumb

block main
	include _components/index/banner
	include _components/index/i-1
	include _components/index/i-2
	include _components/index/i-3