extends _components/_layout/_layout.pug

block var
	- var title = 'Liên hệ'
	- var bodyClass = 'contact-page'

block bannerBreadcrumb
	include _components/_global/_breadcrumb
block main
	include _components/contact/c-1
	