extends _components/_layout/_layout.pug

block var
	- var title = 'Liên hệ'
	- var bodyClass = 'contact-page'

block bannerBreadcrumb
	include _components/_global/_breadcrumb
block main
	include _components/contact/c-1
block script
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s")