extends _components/_layout/_layout.pug

block var
	- var title = 'Liên hệ'
	- var bodyClass = 'contact-page'

block bannerBreadcrumb
	include _components/_global/_breadcrumb
block main
	include _components/contact/c-1
block script
	script.
		locationsInput = [
			{
				lat: 10.800151,
				lng: 106.698085,
				name: 'Hana',
				address: '29A Nguyễn Thái Học, Phường 1, Quận Bình Thạnh, Tp. HCM',
				phone: 0987654321
			}
		]
	