extends _components/_layout/_layout.pug

block var
	- var title = 'Sản phẩm'
	- var bodyClass = 'product-list-page'

block bannerBreadcrumb
	//- include _components/_global/_breadcrumb
block main
	include _components/_global/_banner
	.product.pd-40
		.container
			.mobile.filter-toggle-wrapper
				.filter-toggle
					span Bộ lọc +
			.row
				.col-lg-3.col-product-filter
					include _components/product/filter
				.col-lg-9.col-product-list
					include _components/product/list
					hr.pagination-line
					include _components/_global/_pagination