extends _components/_layout/_layout.pug

block var
	- var title = 'Sản phẩm'
	- var bodyClass = 'product-list-page'

block bannerBreadcrumb
	//- include _components/_global/_breadcrumb
block main
	include _components/_global/_banner
	.product.pd-40
		.container
			.mobile.filter-toggle-wrapper
				.filter-toggle
					<svg xmlns="http://www.w3.org/2000/svg" width="14.552" height="12.745" viewBox="0 0 14.552 12.745"><path d="M447.495,508.671h13.552l-5.421,5.872v4.517l-2.71,1.355v-5.872Z" transform="translate(-446.995 -508.171)" fill="#1c1c1c" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path></svg>
					span Bộ lọc
			.row
				.col-lg-3.col-product-filter
					include _components/product/filter
				.col-lg-9.col-product-list
					include _components/product/list
					hr.pagination-line
					include _components/_global/_pagination