header
	.container
		.row.no-gutters
			.logo
				a(href="/")
					img(src="./img/logo.png", alt="")
			nav.header-navs
				a.nav-item(href="#") Best-Sale
				a.nav-item(href="#") Monsfit
				a.nav-item(href="#") Sale
				a.nav-item(href="#") Collection
				a.nav-item(href="#") Cosmetics
			nav.header-icons
				.icon.search
					svg(xmlns='http://www.w3.org/2000/svg', width='32.131', height='32.489', viewBox='0 0 32.131 32.489')
						g#Group_8325(data-name='Group 8325', transform='translate(1 1)')
							circle#Ellipse_203(data-name='Ellipse 203', cx='10.999', cy='10.999', r='10.999', fill='none', stroke='#201e1e', stroke-miterlimit='10', stroke-width='2')
							line#Line_361(data-name='Line 361', x2='11.758', y2='11.897', transform='translate(18.662 18.888)', fill='none', stroke='#221c21', stroke-miterlimit='10', stroke-width='2')
				.icon.cart
					svg(xmlns='http://www.w3.org/2000/svg', width='34.439', height='32.298', viewBox='0 0 34.439 32.298')
						g#Group_8326(data-name='Group 8326', transform='translate(0 1)')
							path#Path_4895(data-name='Path 4895', d='M244.835,996.71h5.05l5.8,20.09h15.686l6.339-13.644-26-.14', transform='translate(-244.835 -996.71)', fill='none', stroke='#201e1e', stroke-miterlimit='10', stroke-width='2')
							circle#Ellipse_204(data-name='Ellipse 204', cx='2.471', cy='2.471', r='2.471', transform='translate(7.091 25.356)', fill='none', stroke='#201e1e', stroke-miterlimit='10', stroke-width='2')
							circle#Ellipse_205(data-name='Ellipse 205', cx='2.471', cy='2.471', r='2.471', transform='translate(25.76 25.356)', fill='none', stroke='#201e1e', stroke-miterlimit='10', stroke-width='2')