section.index.index-1
	.container
		h2.home-title.center Best-sale
		p.home-title-description.center Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
		.home-product-slider
			.swiper-prev
				<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,11.03,13.59,0,27.772,11.03" transform="translate(2.554 30.579) rotate(-90)" fill="none" stroke="#a5a5a5" stroke-linecap="round" stroke-width="4"/></svg>
			.swiper-next
				<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,0,13.59,11.03,27.772,0" transform="translate(2.813 30.579) rotate(-90)" fill="none" stroke="#a5a5a5" stroke-linecap="round" stroke-width="4"/></svg>
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.home-product-item
							.img
								img(src="./assets/product/p_1.jpg", alt="")
							.info
								h4.product-name Persitence - Tím
								p.product-price 250.000 VNĐ
							.button
								a.btn.btn-apply(href="sanpham-ct.html") Book now
					.swiper-slide
						.home-product-item
							.img
								img(src="./assets/product/p_2.jpg", alt="")
							.info
								h4.product-name Persitence - Tím
								p.product-price 250.000 VNĐ
							.button
								a.btn.btn-apply(href="sanpham-ct.html") Book now
					.swiper-slide
						.home-product-item
							.img
								img(src="./assets/product/p_3.jpg", alt="")
							.info
								h4.product-name Persitence - Tím
								p.product-price 250.000 VNĐ
							.button
								a.btn.btn-apply(href="sanpham-ct.html") Book now
					.swiper-slide
						.home-product-item
							.img
								img(src="./assets/product/p_4.jpg", alt="")
							.info
								h4.product-name Persitence - Tím
								p.product-price 250.000 VNĐ
							.button
								a.btn.btn-apply(href="sanpham-ct.html") Book now
					.swiper-slide
						.home-product-item
							.img
								img(src="./assets/product/p_1.jpg", alt="")
							.info
								h4.product-name Persitence - Tím
								p.product-price 250.000 VNĐ
							.button
								a.btn.btn-apply(href="sanpham-ct.html") Book now