section.index.index-3
	h2.home-title.center.white(data-aos="zoom-in-up") cosmetics
	p.home-title-description.center.white(data-aos="zoom-in-up") Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
	.swiper-container
		.swiper-prev
			<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,11.03,13.59,0,27.772,11.03" transform="translate(2.554 30.579) rotate(-90)" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4"/></svg>
		.swiper-next
			<svg xmlns="http://www.w3.org/2000/svg" width="16.398" height="33.392" viewBox="0 0 16.398 33.392"><path id="Path_47" data-name="Path 47" d="M0,0,13.59,11.03,27.772,0" transform="translate(2.813 30.579) rotate(-90)" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4"/></svg>
		.swiper-wrapper
			.swiper-slide
				.row.no-gutters
					.col-lg-5.col-content
						.content.row-content
							h2.home-title(data-aos="zoom-in-up") Super volcanic pore clay mask 2X
							p(data-aos="zoom-in-up") Đây là giải pháp toàn diện cho các vấn đề như ""se khít lỗ chân lông + kiểm soát bã nhờn + loại bỏ tế bào chết + loại bỏ các hạt bụi siêu mịn + loại bỏ mụn...
							a.btn.btn-buy(href="#" data-aos="zoom-in-up") Book now
					.col-lg-7.slide-img
						img(src='./assets/cosmetic/c_1.jpg', alt='')
			.swiper-slide
				.row.no-gutters
					.col-lg-5.col-content
						.content.row-content
							h2.home-title(data-aos="zoom-in-up") Super volcanic pore clay mask 2X
							p(data-aos="zoom-in-up") Đây là giải pháp toàn diện cho các vấn đề như ""se khít lỗ chân lông + kiểm soát bã nhờn + loại bỏ tế bào chết + loại bỏ các hạt bụi siêu mịn + loại bỏ mụn...
							a.btn.btn-buy(href="#" data-aos="zoom-in-up") Book now
					.col-lg-7.slide-img
						img(src='./assets/cosmetic/c_1.jpg', alt='')
			.swiper-slide
				.row.no-gutters
					.col-lg-5.col-content
						.content.row-content
							h2.home-title(data-aos="zoom-in-up") Super volcanic pore clay mask 2X
							p(data-aos="zoom-in-up") Đây là giải pháp toàn diện cho các vấn đề như ""se khít lỗ chân lông + kiểm soát bã nhờn + loại bỏ tế bào chết + loại bỏ các hạt bụi siêu mịn + loại bỏ mụn...
							a.btn.btn-buy(href="#" data-aos="zoom-in-up") Book now
					.col-lg-7.slide-img
						img(src='./assets/cosmetic/c_1.jpg', alt='')
